footer.section.footer-minimal.context-dark
	.container.wow-outer
		.wow.fadeIn
			.row.row-50
				
				.col-12
					+logo
				.col-12
					ul.footer-minimal-nav
						li: a(href='pricing.html') Pricing
						li: a(href='#') About Eventy
						li: a(href='contacts.html') contacts 
						li: a(href='gallery-1.html') Gallery
						li: a(href='schedule.html') schedule 
				.col-12
					ul.social-list
						li: a(href='#').icon.icon-sm.icon-circle.icon-circle-md.icon-bg-white.fa-facebook
						li: a(href='#').icon.icon-sm.icon-circle.icon-circle-md.icon-bg-white.fa-instagram
						li: a(href='#').icon.icon-sm.icon-circle.icon-circle-md.icon-bg-white.fa-twitter
						li: a(href='#').icon.icon-sm.icon-circle.icon-circle-md.icon-bg-white.fa-youtube-play
						li: a(href='#').icon.icon-sm.icon-circle.icon-circle-md.icon-bg-white.fa-pinterest-p
	
			+rights
